@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Bidone.Helpers;
@model ModelStateDictionary

@{
	ModelStateEntry state;

	Model.TryGetValue(EnumAlert.Message.ToString(), out state);

	if (state != null)
	{
		if (state.Errors.Any())
		{
			<div class="alert alert-danger text-center mx-auto">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<span>@state.Errors.FirstOrDefault().ErrorMessage</span>
			</div>
		}
	}

	Model.TryGetValue(EnumAlert.Info.ToString(), out state);

	if (state != null)
	{
		if (state.Errors.Any())
		{
			<div class="alert alert-warning mx-auto  text-center">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<span>@state.Errors.FirstOrDefault().ErrorMessage</span>
			</div>
		}
	}

}